{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<main>
    <div>
        <h2>Cinema Ironhack</h2>
        <a href="/movies"><button type="submit">Check the Movies!</button></a>
    </div>
</main>