{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<main>
    <div>
        <h2>Cinema Ironhack</h2>
        <form action="/movies">
            <input type="submit" value="Check the Movies!" />
        </form>
    </div>
</main>